<a href="https://colab.research.google.com/github/blockmoo/python_tutoring/blob/main/%EC%9C%A0%ED%98%B8%EC%84%A0_%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B8%B0%EB%A7%90%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import os
import datetime as dt

In [ ]:
station = pd.read_csv("station.csv", encoding="cp949")
station.head()
station.rename(columns = {'대여소\n번호' : '대여소번호', '설치\n시기':'설치시기', '운영\n방식':'운영방식'}, inplace = True)
station.head()

   대여소번호    보관소(대여소)명  자치구                  상세주소  ...        설치시기   LCD   QR  운영방식
0    301  경복궁역 7번출구 앞  종로구   서울특별시 종로구 사직로 지하130  ...  2015-10-07  16.0  NaN   LCD
1    302  경복궁역 4번출구 뒤  종로구   서울특별시 종로구 사직로 지하130  ...  2015-10-07  12.0  NaN   LCD
2    303  광화문역 1번출구 앞  종로구  서울특별시 종로구 세종대로 지하189  ...  2015-10-07   8.0  NaN   LCD
3    304  광화문역 2번출구 앞  종로구  서울특별시 종로구 세종대로 지하172  ...  2021-01-26   NaN  7.0    QR
4    305       종로구청 옆  종로구      서울특별시 종로구 삼봉로 43  ...  2015-10-07  16.0  NaN   LCD

[5 rows x 10 columns]

In [ ]:
bicycle_19 = pd.read_csv("bicycle_19.csv", encoding="cp949")
bicycle_19.head()

                일시  대여소번호   대여소ID  거치수량
0  2019-01-01 8:06      3   ST-48    46
1  2019-01-01 8:06      5   ST-74    70
2  2019-01-01 8:06      7  ST-982    84
3  2019-01-01 8:06     10  ST-484    15
4  2019-01-01 8:06     11  ST-598     2

In [ ]:
bicycle_20 = pd.read_csv("bicycle_20.csv", encoding="cp949")
bicycle_20.head()

                일시  대여소번호   대여소ID  거치수량
0  2020-01-01 8:00      7  ST-982    50
1  2020-01-01 8:00     10  ST-484   216
2  2020-01-01 8:00     11  ST-598     0
3  2020-01-01 8:00    101    ST-3    11
4  2020-01-01 8:00    102    ST-4    14

In [ ]:
bicycle_19['일시'] = pd.to_datetime(bicycle_19['일시'])
bicycle_20['일시'] = pd.to_datetime(bicycle_20['일시'])

In [ ]:
### 보류
# 19년도 자료에 있는 8:06에 기록된 자료들 삭제
def get_min(x):
  return x.minute
del_num = bicycle_19.일시.map(get_min) != 6   #map : 시리즈의 모든 원소에 동일한 fun적용할때 사용.
bicycle_19[del_num].head()

                        일시  대여소번호   대여소ID  거치수량
158728 2019-04-16 08:00:00     10  ST-484    43
158729 2019-04-16 08:00:00     11  ST-598     0
158730 2019-04-16 08:00:00    101    ST-3     1
158731 2019-04-16 08:00:00    102    ST-4     9
158732 2019-04-16 08:00:00    103    ST-5     0

In [ ]:
bicycle_20["대여소번호"].nunique()  #2183

2183

In [ ]:
bicycle_19["대여소번호"].nunique()  #1570

1570

'19, 20년도 자전거 이용자수' 데이터에 '자전거 대여소 현황' 데이터를 붙여줌.

In [ ]:
bic_19 = pd.merge(bicycle_19, station, left_on='대여소번호', right_on='대여소번호', how='left')
bic_19.head(10)

                   일시  대여소번호   대여소ID  거치수량  ...        설치시기   LCD  QR  운영방식
0 2019-01-01 08:06:00      3   ST-48    46  ...         NaN   NaN NaN   NaN
1 2019-01-01 08:06:00      5   ST-74    70  ...         NaN   NaN NaN   NaN
2 2019-01-01 08:06:00      7  ST-982    84  ...         NaN   NaN NaN   NaN
3 2019-01-01 08:06:00     10  ST-484    15  ...         NaN   NaN NaN   NaN
4 2019-01-01 08:06:00     11  ST-598     2  ...         NaN   NaN NaN   NaN
5 2019-01-01 08:06:00    101    ST-3     7  ...  2015-09-06   5.0 NaN   LCD
6 2019-01-01 08:06:00    102    ST-4    16  ...  2015-09-06  20.0 NaN   LCD
7 2019-01-01 08:06:00    103    ST-5     9  ...  2015-09-06  14.0 NaN   LCD
8 2019-01-01 08:06:00    104    ST-6     0  ...  2015-09-06  13.0 NaN   LCD
9 2019-01-01 08:06:00    105    ST-7     7  ...  2015-09-06   5.0 NaN   LCD

[10 rows x 13 columns]

In [ ]:
bic_20 = pd.merge(bicycle_20, station, left_on='대여소번호', right_on='대여소번호', how='left')
bic_20.head(10)

                   일시  대여소번호   대여소ID  거치수량  ...        설치시기   LCD  QR  운영방식
0 2020-01-01 08:00:00      7  ST-982    50  ...         NaN   NaN NaN   NaN
1 2020-01-01 08:00:00     10  ST-484   216  ...         NaN   NaN NaN   NaN
2 2020-01-01 08:00:00     11  ST-598     0  ...         NaN   NaN NaN   NaN
3 2020-01-01 08:00:00    101    ST-3    11  ...  2015-09-06   5.0 NaN   LCD
4 2020-01-01 08:00:00    102    ST-4    14  ...  2015-09-06  20.0 NaN   LCD
5 2020-01-01 08:00:00    103    ST-5     8  ...  2015-09-06  14.0 NaN   LCD
6 2020-01-01 08:00:00    104    ST-6     0  ...  2015-09-06  13.0 NaN   LCD
7 2020-01-01 08:00:00    105    ST-7     5  ...  2015-09-06   5.0 NaN   LCD
8 2020-01-01 08:00:00    106    ST-8     6  ...  2015-09-06  10.0 NaN   LCD
9 2020-01-01 08:00:00    107    ST-9     1  ...  2015-09-06   5.0 NaN   LCD

[10 rows x 13 columns]

1. **지역구별 자전거 이용자수**

In [ ]:
bic_19_last = bic_19.loc[(bic_19.일시.dt.month == 12) & (bic_19.일시.dt.day == 31)]
bic_19_last.head()

                        일시  대여소번호   대여소ID  거치수량  ...        설치시기   LCD  QR  운영방식
697047 2019-12-31 08:00:00      7  ST-982    50  ...         NaN   NaN NaN   NaN
697048 2019-12-31 08:00:00     10  ST-484   284  ...         NaN   NaN NaN   NaN
697049 2019-12-31 08:00:00     11  ST-598     0  ...         NaN   NaN NaN   NaN
697050 2019-12-31 08:00:00    101    ST-3     8  ...  2015-09-06   5.0 NaN   LCD
697051 2019-12-31 08:00:00    102    ST-4     9  ...  2015-09-06  20.0 NaN   LCD

[5 rows x 13 columns]

In [ ]:
bic_20_last = bic_20.loc[(bic_20.일시.dt.month == 12) & (bic_20.일시.dt.day == 31)]
bic_20_last.head()

                        일시  대여소번호   대여소ID  거치수량  ...        설치시기   LCD  QR  운영방식
632898 2020-12-31 08:00:00     10  ST-484   201  ...         NaN   NaN NaN   NaN
632899 2020-12-31 08:00:00     11  ST-598     0  ...         NaN   NaN NaN   NaN
632900 2020-12-31 08:00:00    101    ST-3     0  ...  2015-09-06   5.0 NaN   LCD
632901 2020-12-31 08:00:00    102    ST-4     2  ...  2015-09-06  20.0 NaN   LCD
632902 2020-12-31 08:00:00    103    ST-5     0  ...  2015-09-06  14.0 NaN   LCD

[5 rows x 13 columns]

**이용건수 이용한 데이터 분석**

In [ ]:
dt19 = pd.read_csv("2019_12.csv", encoding="cp949")
dt19.head()

         대여일자  대여소번호               대여소 대여구분코드  ...     운동량   탄소량  이동거리(M) 이용시간(분)
0  2019-12-01    101  101. (구)합정동 주민센터     정기  ...   24.97  0.23    970.0     5.0
1  2019-12-01    101  101. (구)합정동 주민센터     정기  ...  298.99  2.66  11440.0    61.0
2  2019-12-01    101  101. (구)합정동 주민센터     정기  ...   49.73  0.37   1610.0    14.0
3  2019-12-01    101  101. (구)합정동 주민센터     정기  ...   19.19   0.2    850.0     5.0
4  2019-12-01    101  101. (구)합정동 주민센터     정기  ...   26.87  0.27   1170.0     8.0

[5 rows x 11 columns]

In [ ]:
dt20 = pd.read_csv("2020_07_12.csv", encoding="cp949")
dt20.head()

ParserError: ignored

대여일자를 datetime형으로 형변환시킨 뒤, 필요한 열만 추출한다.

In [ ]:
dt19.대여일자 = pd.to_datetime(dt19.대여일자)
dt20.대여일자 = pd.to_datetime(dt20.대여일자)

NameError: ignored

In [ ]:
data19 = dt19.iloc[:,[0,1,6]] #'대여일자, 대여소번호, 이용건수'열만 가져오기 
data19.head()

        대여일자  대여소번호  이용건수
0 2019-12-01    101     1
1 2019-12-01    101     2
2 2019-12-01    101     1
3 2019-12-01    101     1
4 2019-12-01    101     1

In [ ]:
data20 = dt20.iloc[:,[0,1,6]]
data20.head()

        대여일자  대여소번호  이용건수
0 2020-07-01      5   1.0
1 2020-07-01      5   1.0
2 2020-07-01    101   1.0
3 2020-07-01    101   4.0
4 2020-07-01    101   3.0

2. 이용건수 데이터에 대여소 정보 데이터를 붙여준다.

In [ ]:
bic_20 = pd.merge(data20, station, left_on='대여소번호', right_on='대여소번호', how='left')
bic_20.tail()

             대여일자  대여소번호  이용건수     보관소(대여소)명  ...        설치시기   LCD    QR  운영방식
305248 2020-07-09   2347   4.0       두산건설 본사  ...  2017-08-22  15.0   NaN   LCD
305249 2020-07-09   2348   2.0  포스코사거리(기업은행)  ...  2020-11-24   NaN  20.0    QR
305250 2020-07-09   2348   1.0  포스코사거리(기업은행)  ...  2020-11-24   NaN  20.0    QR
305251 2020-07-09   2348   1.0  포스코사거리(기업은행)  ...  2020-11-24   NaN  20.0    QR
305252 2020-07-09   2348   NaN  포스코사거리(기업은행)  ...  2020-11-24   NaN  20.0    QR

[5 rows x 12 columns]

In [ ]:
bic_19 = pd.merge(data19, station, left_on='대여소번호', right_on='대여소번호', how='left')
bic_19.info()

In [ ]:
bic_19_last = bic_19.loc[(bic_19.대여일자.dt.month == 12) & (bic_19.대여일자.dt.day == 31)]
bic_19_last.head()

             대여일자  대여소번호  이용건수    보관소(대여소)명  ...        설치시기  LCD  QR  운영방식
448392 2019-12-31      5     1          NaN  ...         NaN  NaN NaN   NaN
448393 2019-12-31    101     3  (구)합정동 주민센터  ...  2015-09-06  5.0 NaN   LCD
448394 2019-12-31    101     2  (구)합정동 주민센터  ...  2015-09-06  5.0 NaN   LCD
448395 2019-12-31    101     1  (구)합정동 주민센터  ...  2015-09-06  5.0 NaN   LCD
448396 2019-12-31    101     2  (구)합정동 주민센터  ...  2015-09-06  5.0 NaN   LCD

[5 rows x 12 columns]

In [ ]:
bic_19_g = bic_19_last['이용건수'].groupby(bic_19_last['대여소번호']).sum()
bic_19_g

대여소번호
5         1
101      11
102      24
103      18
104      13
         ..
3539      2
3541     37
3543      5
9997      1
99999     1
Name: 이용건수, Length: 1501, dtype: int64

In [ ]:
bic_20_g = bic_20_last['이용건수'].groupby(bic_20_last['대여소번호']).sum()
bic_20_g

Series([], Name: 이용건수, dtype: float64)